/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #666666 !default;
$text-color: #eeeeee !default;
$muted-text-color: #393e46 !default;
$primary-color: #777777 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: #084B8A !default;
$form-background-color: #777777 !default;
$code-background-color: mix(#ffffff, $background-color, 15%) !default;
$code-background-color-dark: mix(#ffffff, $background-color, 20%) !default;
$link-color: #0092ca !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* sunrise syntax highlighting (base16) */
$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #b4b7b4 !default;
$base05: #c5c8c6 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #cc6666 !default;
$base09: #de935f !default;
$base0a: #f0c674 !default;
$base0b: #b5bd68 !default;
$base0c: #8abeb7 !default;
$base0d: #81a2be !default;
$base0e: #b294bb !default;
$base0f: #a3685a !default;
.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
